@require 'styles/normalize.styl'
@require 'styles/mixins-flex.styl'

*
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

html
body
  width 100%
  height 100%

body
  position relative
  overflow-x hidden
  l-flex()
  l-vertical()
  l-center()
  l-center-justified()
  background #f6f6f6
  font 400 16px/18px 'Open Sans', sans-serif

@require 'components/**/*.styl'
@require 'styles/styles.styl'
